@import "mixins.scss";
#ContentLeft_NavigationButtonAuto {	@include elemTop(20);
}
#ContentLeft_NavigationButtonAuto {	@include elemLeft(20);
}
#ContentLeft_NavigationButtonAuto {	@include elemAutoWidth(120);
}
#ContentLeft_NavigationButtonAuto {	@include elemAutoHeight(40);
}
#ContentLeft_NavigationButtonAuto {	z-index: 1;
}
#ContentLeft_NavigationButtonManual {	@include elemTop(100);
}
#ContentLeft_NavigationButtonManual {	@include elemLeft(20);
}
#ContentLeft_NavigationButtonManual {	@include elemAutoWidth(120);
}
#ContentLeft_NavigationButtonManual {	@include elemAutoHeight(40);
}
#ContentLeft_NavigationButtonManual {	z-index: 2;
}
#ContentLeft_NavigationButtonParameters {	@include elemTop(180);
}
#ContentLeft_NavigationButtonParameters {	@include elemLeft(20);
}
#ContentLeft_NavigationButtonParameters {	@include elemAutoWidth(120);
}
#ContentLeft_NavigationButtonParameters {	@include elemAutoHeight(40);
}
#ContentLeft_NavigationButtonParameters {	z-index: 3;
}
#ContentLeft_NavigationButtonServices {	@include elemTop(260);
}
#ContentLeft_NavigationButtonServices {	@include elemLeft(20);
}
#ContentLeft_NavigationButtonServices {	@include elemAutoWidth(120);
}
#ContentLeft_NavigationButtonServices {	@include elemAutoHeight(40);
}
#ContentLeft_NavigationButtonServices {	z-index: 4;
}
#ContentLeft_NavigationButtonAlarms {	@include elemTop(340);
}
#ContentLeft_NavigationButtonAlarms {	@include elemLeft(20);
}
#ContentLeft_NavigationButtonAlarms {	@include elemAutoWidth(120);
}
#ContentLeft_NavigationButtonAlarms {	@include elemAutoHeight(40);
}
#ContentLeft_NavigationButtonAlarms {	z-index: 5;
}
#ContentLeft_NavigationButtonCharts {	@include elemTop(420);
}
#ContentLeft_NavigationButtonCharts {	@include elemLeft(20);
}
#ContentLeft_NavigationButtonCharts {	@include elemAutoWidth(120);
}
#ContentLeft_NavigationButtonCharts {	@include elemAutoHeight(40);
}
#ContentLeft_NavigationButtonCharts {	z-index: 6;
}
#ContentLeft_NavigationButtonDiagnostics {	@include elemTop(499);
}
#ContentLeft_NavigationButtonDiagnostics {	@include elemLeft(20);
}
#ContentLeft_NavigationButtonDiagnostics {	@include elemAutoWidth(120);
}
#ContentLeft_NavigationButtonDiagnostics {	@include elemAutoHeight(40);
}
#ContentLeft_NavigationButtonDiagnostics {	z-index: 7;
}
#ContentLeft_RectangleContentLeftBackground {	@include elemTop(0);
}
#ContentLeft_RectangleContentLeftBackground {	@include elemLeft(-2);
}
#ContentLeft_RectangleContentLeftBackground {	@include elemWidth(174);
}
#ContentLeft_RectangleContentLeftBackground {	@include elemHeight(620);
}
#ContentLeft_RectangleContentLeftBackground {	z-index: 0;
}
#ContentLeft_RectangleContentLeftBackground {	border-width: 0px;
}
#ContentLeft_RectangleContentLeftBackground {	background-color: rgba(255, 140, 0, 1);
}
