@import "mixins.scss";
#ContentAlarms_AlarmList {	@include elemTop(20);
}
#ContentAlarms_AlarmList {	@include elemLeft(20);
}
#ContentAlarms_AlarmList {	@include elemWidth(1240);
}
#ContentAlarms_AlarmList {	@include elemHeight(500);
}
#ContentAlarms_AlarmList {	z-index: 0;
}
#ContentAlarms_AlarmListItemTimestamp {	@include elemWidth(260);
}
#ContentAlarms_AlarmListItemTimestamp {	z-index: 0;
}
#ContentAlarms_AlarmListItemName {	@include elemWidth(300);
}
#ContentAlarms_AlarmListItemName {	z-index: 1;
}
#ContentAlarms_AlarmListItemMessage {	@include elemWidth(600);
}
#ContentAlarms_AlarmListItemMessage {	z-index: 2;
}
#ContentAlarms_AlarmListItemState {	@include elemWidth(80);
}
#ContentAlarms_AlarmListItemState {	z-index: 3;
}
#ContentAlarms_ButtonAcknowledgeOne {	@include elemTop(540);
}
#ContentAlarms_ButtonAcknowledgeOne {	@include elemLeft(20);
}
#ContentAlarms_ButtonAcknowledgeOne {	@include elemAutoWidth(400);
}
#ContentAlarms_ButtonAcknowledgeOne {	@include elemAutoHeight(60);
}
#ContentAlarms_ButtonAcknowledgeOne {	z-index: 1;
}
#ContentAlarms_ButtonAcknowledgeAll {	@include elemTop(540);
}
#ContentAlarms_ButtonAcknowledgeAll {	@include elemLeft(440);
}
#ContentAlarms_ButtonAcknowledgeAll {	@include elemAutoWidth(400);
}
#ContentAlarms_ButtonAcknowledgeAll {	@include elemAutoHeight(60);
}
#ContentAlarms_ButtonAcknowledgeAll {	z-index: 2;
}
#ContentAlarms_ButtonHistory {	@include elemTop(540);
}
#ContentAlarms_ButtonHistory {	@include elemLeft(860);
}
#ContentAlarms_ButtonHistory {	@include elemAutoWidth(400);
}
#ContentAlarms_ButtonHistory {	@include elemAutoHeight(60);
}
#ContentAlarms_ButtonHistory {	z-index: 3;
}
