@import "mixins.scss";
#ContentDiagnostics_WebViewerSDM {	@include elemTop(20);
}
#ContentDiagnostics_WebViewerSDM {	@include elemLeft(20);
}
#ContentDiagnostics_WebViewerSDM {	@include elemWidth(820);
}
#ContentDiagnostics_WebViewerSDM {	@include elemHeight(580);
}
#ContentDiagnostics_WebViewerSDM {	z-index: 1;
}
#ContentDiagnostics_WebViewerSDM {	& iframe {
		border-width: 0px 0px 0px 0px;
	}
}
#ContentDiagnostics_WebViewerSDM {	& div.editorImage {
		border-width: 0px 0px 0px 0px;
	}
}
#ContentDiagnostics_LabelSMDLoading {	@include elemTop(300);
}
#ContentDiagnostics_LabelSMDLoading {	@include elemLeft(240);
}
#ContentDiagnostics_LabelSMDLoading {	@include elemAutoWidth(380);
}
#ContentDiagnostics_LabelSMDLoading {	@include elemAutoHeight(40);
}
#ContentDiagnostics_LabelSMDLoading {	z-index: 0;
}
