@import "mixins.scss";
#ContentAuto_Label1 {	@include elemAutoWidth(80);
}
#ContentAuto_Label1 {	@include elemAutoHeight(30);
}
#ContentAuto_Label1 {	@include elemTop(585);
}
#ContentAuto_Label1 {	@include elemLeft(1201);
}
#ContentAuto_Label1 {	z-index: 0;
}
#ContentAuto_GroupBoxAutoControl {	@include elemTop(25);
}
#ContentAuto_GroupBoxAutoControl {	@include elemLeft(25);
}
#ContentAuto_GroupBoxAutoControl {	@include elemWidth(650);
}
#ContentAuto_GroupBoxAutoControl {	@include elemHeight(535);
}
#ContentAuto_GroupBoxAutoControl {	z-index: 1;
}
#ContentAuto_GroupBoxAutoControl {	border-width: 5px;
}
#ContentAuto_GroupBoxAutoControl {	> .header {
		border-width: 5px;
	}
}
#ContentAuto_ButtonAutoStart {	@include elemTop(48);
}
#ContentAuto_ButtonAutoStart {	@include elemLeft(148);
}
#ContentAuto_ButtonAutoStart {	@include elemAutoWidth(354);
}
#ContentAuto_ButtonAutoStart {	@include elemAutoHeight(125);
}
#ContentAuto_ButtonAutoStart {	z-index: 0;
}
#ContentAuto_ButtonAutoStart {	span {
		font-size: 25px;
	}
}
#ContentAuto_ButtonAutoStop {	@include elemTop(199);
}
#ContentAuto_ButtonAutoStop {	@include elemLeft(149);
}
#ContentAuto_ButtonAutoStop {	@include elemAutoWidth(352);
}
#ContentAuto_ButtonAutoStop {	@include elemAutoHeight(101);
}
#ContentAuto_ButtonAutoStop {	z-index: 1;
}
#ContentAuto_ButtonAutoStop {	@include border-radius(15px);
}
#ContentAuto_ButtonAutoStop {	span {
		font-size: 25px;
	}
}
#ContentAuto_LabelMachineStarted {	@include elemTop(324);
}
#ContentAuto_LabelMachineStarted {	@include elemLeft(149);
}
#ContentAuto_LabelMachineStarted {	@include elemAutoWidth(351);
}
#ContentAuto_LabelMachineStarted {	@include elemAutoHeight(76);
}
#ContentAuto_LabelMachineStarted {	z-index: 2;
}
#ContentAuto_LabelMachineStarted {	& span {
		color: rgba(0, 192, 0, 1);
	}
}
#ContentAuto_LabelMachineStarted {	@include text-alignment-all('center');
}
#ContentAuto_LabelMachineStarted {	font-size: 20px;
}
#ContentAuto_LabelMachineStopped {	@include elemTop(324);
}
#ContentAuto_LabelMachineStopped {	@include elemLeft(149);
}
#ContentAuto_LabelMachineStopped {	@include elemAutoWidth(351);
}
#ContentAuto_LabelMachineStopped {	@include elemAutoHeight(76);
}
#ContentAuto_LabelMachineStopped {	z-index: 3;
}
#ContentAuto_LabelMachineStopped {	& span {
		color: rgba(255, 0, 0, 1);
	}
}
#ContentAuto_LabelMachineStopped {	@include text-alignment-all('center');
}
#ContentAuto_LabelMachineStopped {	font-size: 20px;
}
#ContentAuto_GroupBoxDetectedItem {	@include elemTop(450);
}
#ContentAuto_GroupBoxDetectedItem {	@include elemLeft(150);
}
#ContentAuto_GroupBoxDetectedItem {	@include elemWidth(350);
}
#ContentAuto_GroupBoxDetectedItem {	@include elemHeight(40);
}
#ContentAuto_GroupBoxDetectedItem {	z-index: 4;
}
#ContentAuto_GroupBoxDetectedItem {	border-width: 3px;
}
#ContentAuto_GroupBoxDetectedItem {	> .header {
		border-width: 3px;
	}
}
#ContentAuto_LabelItemdetected {	@include elemTop(-1);
}
#ContentAuto_LabelItemdetected {	@include elemLeft(-1);
}
#ContentAuto_LabelItemdetected {	@include elemAutoWidth(101);
}
#ContentAuto_LabelItemdetected {	@include elemAutoHeight(49);
}
#ContentAuto_LabelItemdetected {	z-index: 0;
}
#ContentAuto_LabelItemdetected {	@include text-alignment-all('center');
}
#ContentAuto_LabelItemdetected {	font-size: 15px;
}
#ContentAuto_GroupBoxMachineState {	@include elemTop(25);
}
#ContentAuto_GroupBoxMachineState {	@include elemLeft(700);
}
#ContentAuto_GroupBoxMachineState {	@include elemWidth(548);
}
#ContentAuto_GroupBoxMachineState {	@include elemHeight(335);
}
#ContentAuto_GroupBoxMachineState {	z-index: 2;
}
#ContentAuto_GroupBoxMachineState {	border-width: 5px;
}
#ContentAuto_GroupBoxMachineState {	> .header {
		border-width: 5px;
	}
}
#ContentAuto_NumericOutputDetectedWeight {	@include elemTop(74);
}
#ContentAuto_NumericOutputDetectedWeight {	@include elemLeft(301);
}
#ContentAuto_NumericOutputDetectedWeight {	@include elemAutoWidth(151);
}
#ContentAuto_NumericOutputDetectedWeight {	@include elemAutoHeight(29);
}
#ContentAuto_NumericOutputDetectedWeight {	z-index: 0;
}
#ContentAuto_NumericOutputDetectedConveyorPosition {	@include elemAutoHeight(30);
}
#ContentAuto_NumericOutputDetectedConveyorPosition {	@include elemTop(125);
}
#ContentAuto_NumericOutputDetectedConveyorPosition {	@include elemLeft(302);
}
#ContentAuto_NumericOutputDetectedConveyorPosition {	@include elemAutoWidth(151);
}
#ContentAuto_NumericOutputDetectedConveyorPosition {	z-index: 1;
}
#ContentAuto_NumericOutputDetectedConveyorSpeed {	@include elemAutoHeight(30);
}
#ContentAuto_NumericOutputDetectedConveyorSpeed {	@include elemTop(175);
}
#ContentAuto_NumericOutputDetectedConveyorSpeed {	@include elemLeft(302);
}
#ContentAuto_NumericOutputDetectedConveyorSpeed {	@include elemAutoWidth(151);
}
#ContentAuto_NumericOutputDetectedConveyorSpeed {	z-index: 2;
}
#ContentAuto_LabelItemWeight {	@include elemTop(75);
}
#ContentAuto_LabelItemWeight {	@include elemLeft(103);
}
#ContentAuto_LabelItemWeight {	@include elemAutoWidth(179);
}
#ContentAuto_LabelItemWeight {	@include elemAutoHeight(28);
}
#ContentAuto_LabelItemWeight {	z-index: 3;
}
#ContentAuto_LabelItemWeight {	@include text-alignment-all('left');
}
#ContentAuto_LabelConveyorPosition {	@include elemAutoHeight(30);
}
#ContentAuto_LabelConveyorPosition {	@include elemTop(125);
}
#ContentAuto_LabelConveyorPosition {	@include elemLeft(103);
}
#ContentAuto_LabelConveyorPosition {	@include elemAutoWidth(179);
}
#ContentAuto_LabelConveyorPosition {	z-index: 4;
}
#ContentAuto_LabelConveyorSpeed {	@include elemAutoHeight(30);
}
#ContentAuto_LabelConveyorSpeed {	@include elemTop(175);
}
#ContentAuto_LabelConveyorSpeed {	@include elemLeft(103);
}
#ContentAuto_LabelConveyorSpeed {	@include elemAutoWidth(179);
}
#ContentAuto_LabelConveyorSpeed {	z-index: 5;
}
#ContentAuto_LabelMachineStep {	@include elemTop(24);
}
#ContentAuto_LabelMachineStep {	@include elemLeft(102);
}
#ContentAuto_LabelMachineStep {	@include elemAutoWidth(201);
}
#ContentAuto_LabelMachineStep {	@include elemAutoHeight(29);
}
#ContentAuto_LabelMachineStep {	z-index: 6;
}
#ContentAuto_TextOutputCurrentStep {	@include elemTop(24);
}
#ContentAuto_TextOutputCurrentStep {	@include elemLeft(302);
}
#ContentAuto_TextOutputCurrentStep {	@include elemAutoWidth(151);
}
#ContentAuto_TextOutputCurrentStep {	@include elemAutoHeight(28);
}
#ContentAuto_TextOutputCurrentStep {	z-index: 7;
}
#ContentAuto_LabelPistonActuatorStatus {	@include elemAutoHeight(30);
}
#ContentAuto_LabelPistonActuatorStatus {	@include elemTop(230);
}
#ContentAuto_LabelPistonActuatorStatus {	@include elemLeft(116);
}
#ContentAuto_LabelPistonActuatorStatus {	@include elemAutoWidth(151);
}
#ContentAuto_LabelPistonActuatorStatus {	z-index: 8;
}
#ContentAuto_LabelPistonPushingStatus {	@include elemAutoHeight(30);
}
#ContentAuto_LabelPistonPushingStatus {	@include elemTop(278);
}
#ContentAuto_LabelPistonPushingStatus {	@include elemLeft(116);
}
#ContentAuto_LabelPistonPushingStatus {	@include elemAutoWidth(126);
}
#ContentAuto_LabelPistonPushingStatus {	z-index: 9;
}
#ContentAuto_RectangleBoxPistonActuatorRed {	@include elemTop(226);
}
#ContentAuto_RectangleBoxPistonActuatorRed {	@include elemLeft(264);
}
#ContentAuto_RectangleBoxPistonActuatorRed {	@include elemWidth(30);
}
#ContentAuto_RectangleBoxPistonActuatorRed {	@include elemHeight(30);
}
#ContentAuto_RectangleBoxPistonActuatorRed {	z-index: 13;
}
#ContentAuto_RectangleBoxPistonActuatorRed {	background-color: rgba(255, 0, 0, 1);
}
#ContentAuto_RectanglePistonAcutoatorRed {	@include elemTop(221);
}
#ContentAuto_RectanglePistonAcutoatorRed {	@include elemLeft(294);
}
#ContentAuto_RectanglePistonAcutoatorRed {	@include elemWidth(5);
}
#ContentAuto_RectanglePistonAcutoatorRed {	@include elemHeight(38);
}
#ContentAuto_RectanglePistonAcutoatorRed {	z-index: 10;
}
#ContentAuto_RectanglePistonAcutoatorRed {	background-color: rgba(0, 0, 0, 1);
}
#ContentAuto_RectangleBoxPistonPushingGreen {	@include elemTop(274);
}
#ContentAuto_RectangleBoxPistonPushingGreen {	@include elemLeft(368);
}
#ContentAuto_RectangleBoxPistonPushingGreen {	@include elemWidth(30);
}
#ContentAuto_RectangleBoxPistonPushingGreen {	@include elemHeight(30);
}
#ContentAuto_RectangleBoxPistonPushingGreen {	z-index: 14;
}
#ContentAuto_RectangleBoxPistonPushingGreen {	background-color: rgba(0, 192, 0, 1);
}
#ContentAuto_RectanglePistonPushingGreen {	@include elemTop(272);
}
#ContentAuto_RectanglePistonPushingGreen {	@include elemLeft(435);
}
#ContentAuto_RectanglePistonPushingGreen {	@include elemWidth(5);
}
#ContentAuto_RectanglePistonPushingGreen {	@include elemHeight(34);
}
#ContentAuto_RectanglePistonPushingGreen {	z-index: 11;
}
#ContentAuto_RectanglePistonPushingGreen {	background-color: rgba(0, 0, 0, 1);
}
#ContentAuto_RectanglePistonRodPushingGreen {	@include elemTop(280);
}
#ContentAuto_RectanglePistonRodPushingGreen {	@include elemLeft(395);
}
#ContentAuto_RectanglePistonRodPushingGreen {	@include elemWidth(45);
}
#ContentAuto_RectanglePistonRodPushingGreen {	@include elemHeight(16);
}
#ContentAuto_RectanglePistonRodPushingGreen {	z-index: 12;
}
#ContentAuto_RectanglePistonRodPushingGreen {	background-color: rgba(0, 0, 0, 1);
}
#ContentAuto_RectangleBoxPistonPushingRed {	@include elemTop(274);
}
#ContentAuto_RectangleBoxPistonPushingRed {	@include elemLeft(264);
}
#ContentAuto_RectangleBoxPistonPushingRed {	@include elemWidth(30);
}
#ContentAuto_RectangleBoxPistonPushingRed {	@include elemHeight(30);
}
#ContentAuto_RectangleBoxPistonPushingRed {	z-index: 16;
}
#ContentAuto_RectangleBoxPistonPushingRed {	background-color: rgba(255, 0, 0, 1);
}
#ContentAuto_RectanglePistonPushingRed {	@include elemTop(269);
}
#ContentAuto_RectanglePistonPushingRed {	@include elemLeft(294);
}
#ContentAuto_RectanglePistonPushingRed {	@include elemWidth(5);
}
#ContentAuto_RectanglePistonPushingRed {	@include elemHeight(38);
}
#ContentAuto_RectanglePistonPushingRed {	z-index: 15;
}
#ContentAuto_RectanglePistonPushingRed {	background-color: rgba(0, 0, 0, 1);
}
#ContentAuto_RectangleBoxPistonActuatorGreen {	@include elemTop(226);
}
#ContentAuto_RectangleBoxPistonActuatorGreen {	@include elemLeft(368);
}
#ContentAuto_RectangleBoxPistonActuatorGreen {	@include elemWidth(30);
}
#ContentAuto_RectangleBoxPistonActuatorGreen {	@include elemHeight(30);
}
#ContentAuto_RectangleBoxPistonActuatorGreen {	z-index: 19;
}
#ContentAuto_RectangleBoxPistonActuatorGreen {	background-color: rgba(0, 192, 0, 1);
}
#ContentAuto_RectanglePistonActuatorGreen {	@include elemTop(224);
}
#ContentAuto_RectanglePistonActuatorGreen {	@include elemLeft(435);
}
#ContentAuto_RectanglePistonActuatorGreen {	@include elemWidth(5);
}
#ContentAuto_RectanglePistonActuatorGreen {	@include elemHeight(34);
}
#ContentAuto_RectanglePistonActuatorGreen {	z-index: 17;
}
#ContentAuto_RectanglePistonActuatorGreen {	background-color: rgba(0, 0, 0, 1);
}
#ContentAuto_RectanglePistonRodActuatorGreen {	@include elemTop(232);
}
#ContentAuto_RectanglePistonRodActuatorGreen {	@include elemLeft(395);
}
#ContentAuto_RectanglePistonRodActuatorGreen {	@include elemWidth(45);
}
#ContentAuto_RectanglePistonRodActuatorGreen {	@include elemHeight(16);
}
#ContentAuto_RectanglePistonRodActuatorGreen {	z-index: 18;
}
#ContentAuto_RectanglePistonRodActuatorGreen {	background-color: rgba(0, 0, 0, 1);
}
#ContentAuto_GroupBoxCounter {	@include elemTop(375);
}
#ContentAuto_GroupBoxCounter {	@include elemLeft(700);
}
#ContentAuto_GroupBoxCounter {	@include elemWidth(550);
}
#ContentAuto_GroupBoxCounter {	@include elemHeight(200);
}
#ContentAuto_GroupBoxCounter {	z-index: 3;
}
#ContentAuto_GroupBoxCounter {	border-width: 5px;
}
#ContentAuto_GroupBoxCounter {	> .header {
		border-width: 5px;
	}
}
#ContentAuto_NumericOutputLeftChamber {	@include elemTop(75);
}
#ContentAuto_NumericOutputLeftChamber {	@include elemLeft(50);
}
#ContentAuto_NumericOutputLeftChamber {	@include elemAutoWidth(151);
}
#ContentAuto_NumericOutputLeftChamber {	@include elemAutoHeight(76);
}
#ContentAuto_NumericOutputLeftChamber {	z-index: 0;
}
#ContentAuto_NumericOutputRightChamber {	@include elemTop(75);
}
#ContentAuto_NumericOutputRightChamber {	@include elemLeft(349);
}
#ContentAuto_NumericOutputRightChamber {	@include elemAutoWidth(151);
}
#ContentAuto_NumericOutputRightChamber {	@include elemAutoHeight(76);
}
#ContentAuto_NumericOutputRightChamber {	z-index: 1;
}
#ContentAuto_ButtonResetRightChamber {	@include elemAutoWidth(100);
}
#ContentAuto_ButtonResetRightChamber {	@include elemAutoHeight(30);
}
#ContentAuto_ButtonResetRightChamber {	@include elemTop(150);
}
#ContentAuto_ButtonResetRightChamber {	@include elemLeft(399);
}
#ContentAuto_ButtonResetRightChamber {	z-index: 2;
}
#ContentAuto_ButtonResetLeftChamber {	@include elemAutoWidth(100);
}
#ContentAuto_ButtonResetLeftChamber {	@include elemAutoHeight(30);
}
#ContentAuto_ButtonResetLeftChamber {	@include elemTop(150);
}
#ContentAuto_ButtonResetLeftChamber {	@include elemLeft(49);
}
#ContentAuto_ButtonResetLeftChamber {	z-index: 3;
}
#ContentAuto_LabelChamberCaunter {	@include elemAutoHeight(30);
}
#ContentAuto_LabelChamberCaunter {	@include elemTop(4);
}
#ContentAuto_LabelChamberCaunter {	@include elemLeft(79);
}
#ContentAuto_LabelChamberCaunter {	@include elemAutoWidth(401);
}
#ContentAuto_LabelChamberCaunter {	z-index: 4;
}
