@import "mixins.scss";
#ContentTop_ImageLogo {	@include elemTop(0);
}
#ContentTop_ImageLogo {	@include elemLeft(0);
}
#ContentTop_ImageLogo {	@include elemAutoWidth(130);
}
#ContentTop_ImageLogo {	@include elemAutoHeight(90);
}
#ContentTop_ImageLogo {	z-index: 2;
}
#ContentTop_ImageLogo {	border-style: solid;
}
#ContentTop_ImageLogo {	border-width: 0px;
}
#ContentTop_ImageLogo {	border-color: rgba(0, 0, 0, 1);
}
#ContentTop_ImageLogin {	@include elemTop(5);
}
#ContentTop_ImageLogin {	@include elemLeft(1400);
}
#ContentTop_ImageLogin {	@include elemAutoWidth(80);
}
#ContentTop_ImageLogin {	@include elemAutoHeight(70);
}
#ContentTop_ImageLogin {	z-index: 1;
}
#ContentTop_DateTimeOutput1 {	@include elemTop(-20);
}
#ContentTop_DateTimeOutput1 {	@include elemLeft(135);
}
#ContentTop_DateTimeOutput1 {	@include elemAutoWidth(420);
}
#ContentTop_DateTimeOutput1 {	@include elemAutoHeight(120);
}
#ContentTop_DateTimeOutput1 {	z-index: 3;
}
#ContentTop_DateTimeOutput1 {	background-color: rgba(255, 255, 255, 1);
}
#ContentTop_DateTimeOutput1 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#ContentTop_DateTimeOutput1 {	font-size: 25px;
}
#ContentTop_RectangleBackground {	@include elemTop(0);
}
#ContentTop_RectangleBackground {	@include elemLeft(0);
}
#ContentTop_RectangleBackground {	@include elemWidth(1480);
}
#ContentTop_RectangleBackground {	@include elemHeight(80);
}
#ContentTop_RectangleBackground {	z-index: 0;
}
#ContentTop_RectangleBackground {	border-width: 0px;
}
#ContentTop_RectangleBackground {	background-color: rgba(255, 255, 255, 1);
}
#ContentTop_ImageAlarmRed {	@include elemTop(10);
}
#ContentTop_ImageAlarmRed {	@include elemLeft(580);
}
#ContentTop_ImageAlarmRed {	@include elemAutoWidth(60);
}
#ContentTop_ImageAlarmRed {	@include elemAutoHeight(60);
}
#ContentTop_ImageAlarmRed {	z-index: 4;
}
#ContentTop_ImageAlarmRed {	& > .ImageView > svg {
		fill: rgba(255, 0, 0, 1);
	}
}
#ContentTop_ImageAlarmYellow {	@include elemTop(10);
}
#ContentTop_ImageAlarmYellow {	@include elemLeft(580);
}
#ContentTop_ImageAlarmYellow {	@include elemAutoWidth(60);
}
#ContentTop_ImageAlarmYellow {	@include elemAutoHeight(60);
}
#ContentTop_ImageAlarmYellow {	z-index: 5;
}
#ContentTop_ImageAlarmYellow {	& > .ImageView > svg {
		fill: rgba(255, 255, 0, 1);
	}
}
