@import "mixins.scss";
#ContentAlarmHistory_AlarmHistory {	@include elemTop(20);
}
#ContentAlarmHistory_AlarmHistory {	@include elemLeft(20);
}
#ContentAlarmHistory_AlarmHistory {	@include elemWidth(920);
}
#ContentAlarmHistory_AlarmHistory {	@include elemHeight(460);
}
#ContentAlarmHistory_AlarmHistory {	z-index: 0;
}
#ContentAlarmHistory_AlarmHistoryItemTimestamp {	@include elemWidth(200);
}
#ContentAlarmHistory_AlarmHistoryItemTimestamp {	z-index: 0;
}
#ContentAlarmHistory_AlarmHistoryItemName {	@include elemWidth(180);
}
#ContentAlarmHistory_AlarmHistoryItemName {	z-index: 1;
}
#ContentAlarmHistory_AlarmHistoryItemMessage {	@include elemWidth(300);
}
#ContentAlarmHistory_AlarmHistoryItemMessage {	z-index: 2;
}
#ContentAlarmHistory_AlarmHistoryItemOldState {	@include elemWidth(120);
}
#ContentAlarmHistory_AlarmHistoryItemOldState {	z-index: 3;
}
#ContentAlarmHistory_AlarmHistoryItemNewState {	@include elemWidth(120);
}
#ContentAlarmHistory_AlarmHistoryItemNewState {	z-index: 4;
}
